# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# HF Static Deploy Temp folder
hf_deploy/

# O*NET Zip File and other data files
onet_data/*.zip
onet_data/db_30_3_text/*
!onet_data/db_30_3_text/Career Interest Types.txt
!onet_data/db_30_3_text/Occupation Data.txt
